#time::before {
    content: "Time Elapsed: ";
}

:root {
    --elem-spacing: 14px;
    --border-radius: 3px;

    /* Colors */
    --background-color: #eee;
    --elem-color: #fff;

    --primary-color--light: #81D4FA;
    --primary-color: #03A9F4;
    --primary-color--dark: #039BE5;

    --secondary-color--light: #FFC107;
    --secondary-color: #FFB300;
    --secondary-color--dark: #FFA000;

    --accent-color: #F44336;

    --neutral-color: #ccc;
    --neutral-color--dark: #818181;

    --base-text-color: #333;

}

html, body {
    margin: 0;
    padding: 0;
    color: var(--base-text-color);

    background-color: var(--background-color);
    font-family: Roboto Condensed;
}

.material {
    position: relative;
    padding: 10px;
    margin-bottom: var(--elem-spacing);
    background-color: var(--elem-color);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18),
                0 0 2px 0 rgba(0,0,0,.2);
}

    .material__title {
        position: absolute;
        top: -6px; right: -6px;
        padding: 2px 8px;
        font-size: 1.45rem;
        background-color: var(--primary-color);
        color: #fff;
        border-radius: var(--border-radius);

        box-shadow: 0 2px 5px 0 rgba(0,0,0,.18),
                    0 0 2px 0 rgba(0,0,0,.2);
    }


.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1199px;
    margin: 0 auto;
    padding: var(--elem-spacing);
}

.loading-spinner {
    display: none;
}

.canvas {
    width: 100%;
    height: 100%;
}

.header {
    font-size: 1.9rem;
    text-align: center;
    position: relative;
}
.header::after {
    content: "v2!";
    position: absolute;
    top: -11px; right: -10px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 50%;
    transform: rotate(-7deg);

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18),
                0 0 2px 0 rgba(0,0,0,.2);
}
.header::after:hover {
    background-color: var(--primary-color);
}

.body {
    display: flex;
}

    .body__container {
        flex: 3;
        height: 700px;
    }

    .body__settings {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: var(--elem-spacing);
        font-size: 1.1rem;
    }
    .body__settings > input,
    .body__settings > select {
        margin-top: 3px;
        margin-bottom: 10px;
        border-radius: var(--border-radius);
        border: 2px solid var(--neutral-color);
        padding: 6px 8px;
        font-size: 0.85em;
        font-family: Roboto Condensed;

        transition: border 0.15s ease;
    }
    .body__settings > input:focus,
    .body__settings > select:focus {
        border-color: var(--primary-color--light);
        outline: 0;
        transition: none;
    }
    

    .body__submit {
        padding: 7px 15px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        outline: 0;
        height: 41px;
        font-size: 1.1em;
        border-radius: var(--border-radius);
        margin: 5px 0;
        font-family: Roboto Condensed;

        transition: background-color 0.15s ease-in-out,
                    color 0.15s ease-in-out;
    }
    .body__submit:hover {
        background-color: var(--primary-color);
        color: #fff;
        cursor: pointer;

        transition: none;
    }
    .body__submit:active {
        background-color: var(--primary-color--dark);
        color: #fff;
    }
        .body__submit--secondary {
            border-color: var(--secondary-color);
            color: var(--secondary-color);
        }
        .body__submit--secondary:hover {
            background-color: var(--secondary-color);
        }

    .art-loading .body__submit {
        pointer-events: none;
    }
    .art-loading .body__submit-text {
        display: none;
    }
    .art-loading .loading-spinner {
        display: block;
    }


.basic-stats {
    display: flex;
}

    .basic-stats__item-cont {
        flex: 1;
        display: flex;
        margin-right: var(--elem-spacing);
    }
    .basic-stats__item-cont:last-of-type {
        margin-right: 0;
    }

    .basic-stats__item {
        text-align: center;
        flex: 1;
        border: 2px solid var(--neutral-color);
        border-radius: var(--border-radius);
        padding: 35px 20px;
        margin-right: var(--elem-spacing);
    }
    .basic-stats__item:last-of-type {
        margin-right: 0;
    }

    .basic-stats__item-title {
        color: var(--base-text-color);
        font-size: 1.15em;
    }
    .basic-stats__item-stat {
        color: var(--neutral-color--dark);
    }


/* Large */
@media (max-width: 993px) {

    .basic-stats {
        flex-direction: column;
    }

        .basic-stats__item-cont {
            margin-right: 0;
            margin-bottom: var(--elem-spacing);
        }
        .basic-stats__item-cont:last-of-type {
            margin-bottom: 0;
        }

}

/* Medium */
@media (max-width: 781px) {

    .body {
        flex-direction: column;
    }

        .body__container {
            min-height: 100px;
            height: 500px;
            resize: vertical;
            overflow: hidden;
        }

        .body__settings {
            margin-left: 0;
        }

    .basic-stats__item-cont {
        flex-direction: column;
    }
    .basic-stats__item {
        margin-right: 0;
        margin-bottom: var(--elem-spacing);
    }
    .basic-stats__item:last-of-type {
        margin-bottom: 0;
    }
}
